/* css reset start */
* {
    margin: 0;
    padding: 0;
}
/* css reset end */

/* General styles start */
body {
    font-family: 'Lato', sans-serif;
    color: rgba(39, 39, 39, 0.60);;
}
/* General styles end */

/* common styles start */
.section-padding {
    padding: 0 100px;
}

.section-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    line-height: 30px;
}

.clr-primary {
    color: #E55473;;
}

.btn {
    border-radius: 8px;
    background: #E55473;

    padding: 30px 18px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}
/* common styles end */

/* header section start*/
.header {
    height: 100vh;
    background: rgb(229, 84, 115, 0.15);
    border: 1px solid red;
}

/* banner styles start*/

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    border: 1px solid red;
}

.banner-content {
    border: 1px solid red;
    align-self: center;

    width: 55%;
}

.main-heading {
    color: #272727;
    font-size: 70px;
    font-weight: 800;
}

.banner-image {
    width: 500px;
    border: 1px solid red;
}

.banner-image img{
    width: 100%;
}